/* UTIL vars */
$footer-height: 60px;

/* SCSS RGB */
$hunter-green: rgba(62, 86, 65, 1);
$crimson-ua: rgba(166, 38, 57, 1);
$alabaster: rgba(224, 226, 219, 1);
$corn-silk: rgba(254, 250, 224, 1);
$linen: rgba(255, 241, 230, 0.7);
$copper: rgba(181, 127, 80, 1);
$blue-bell: rgba(142, 141, 190, 1);
$blue-sapphire: rgba(5, 102, 141, 1);

$primary: $crimson-ua;
$secondary: $blue-sapphire;
$success: $hunter-green;
$info: $blue-bell;
$background: $linen;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info
);


// Required
@import "node_modules/bootstrap/scss/bootstrap";
