@import "~bootstrap/scss/bootstrap";
@import "./variables";

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  margin-bottom: $footer-height; /* Margin bottom by footer height, plus some */
}

html {
  position: relative;
  min-height: 100%;
}

a {
  color: $hunter-green;
}

// Shared styles across components:
.page-content {
  height: 100%;
  figcaption {
    color: $gray-600;
    text-align: center;
  }
  sup {
    cursor: pointer;
  }
  ul li {
    list-style-type: '- '
  }
  a {
    color: $hunter-green;
    text-decoration: underline;
    font-weight: bold;
  }
}

.footnote-text {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background: darken($color: $linen, $amount: 0.8);
  padding: $spacer 0;
  width: 100vw;
  // Transition
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
}