@import "~bootstrap/scss/bootstrap";
@import "./variables";

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
}

html { height: 100%; overflow:auto; }
body { height: 100%; }

// Shared styles across components:
.page-content {
  height: 100%;
  figcaption {
    color: $gray-600;
    text-align: center;
  }
  sup {
    cursor: pointer;
  }
  li {
    list-style-type: '- '
  }
}